# Abaikan semua file secara default
*
# Perbolehkan folder vendor dan isinya
!vendor/
!vendor/**
# Perbolehkan folder assets dan isinya
!assets/
!assets/**
# Perbolehkan folder guru dan isinya
!guru/
!guru/**
# Perbolehkan folder sdm dan isinya
!sdm/
!sdm/**
# Perbolehkan folder keuangan dan isinya
!keuangan/
!keuangan/**
# Perbolehkan folder superadmin dan isinya
!superadmin/
!superadmin/**
# Perbolehkan folder kepala sekolah dan isinya
!kepalasekolah/
!kepalasekolah/**
# Perbolehkan folder uploads dan isinya
!uploads/
!uploads/**
# Perbolehkan file lain yang kamu butuhkan
!cron_job/
!cron_job/**
# Perbolehkan file lain yang kamu butuhkan
!guides/
!guides/**
# Perbolehkan file lain yang kamu butuhkan
!koneksi.php
!helpers.php
!login.php
!logout.php
!payroll_ujicoba.sql
!payroll_ujicoba (Struktur).sql
!sidebar.php
!navbar_tabler.php
!dist
!dist/**
!navbar.php
!breadcrumb.php
!chatgpt.txt
!ujicoba.txt
!.gitignore
!notifikasi.php
!pesan.php
!view_pdf.php
!fonnte_helper.php
!pustaka_feed.php
!pusat_info.php